// icon
.icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
}
// end of icon

// header
.header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "header header"
    "aside slider";
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  // height: 56px;
  // flex-wrap: wrap;

  &-container {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: 0 16px;
    height: 56px;
  }

  &__icon {
    width: 97px;
    height: 20px;
    display: flex;
    padding: 18px 14px 18px 16px;
    position: relative;
    cursor: pointer;

    & sup {
      position: absolute;
      right: -2px;
      top: 12px;
      color: #aaaaaa;
      font-size: 10px;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
  }

  &__burger {
    background: none;
    border: none;
    fill: #fff;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background: rgba($color: #717171, $alpha: 0.3);
    }
  }
}
// end of header

// search
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  // margin-left: 40px;

  &__line {
    display: flex;
    align-items: center;
    margin-left: 34px;
    border: 1px solid #303030;
    border-radius: 40px 0 0 40px;
    width: calc(70% - 104px);

    position: relative;
  }

  &__search {
    width: 20px;
    height: 20px;
    fill: #fff;
    align-self: center;
    padding: 0 0 0 16px;
    display: none;
  }

  &__input {
    height: 38px;
    display: flex;
    width: calc(100% - 45px - 40px);
    padding: 0 4px 0 16px;
    & input {
      border: none;
      background-color: transparent;
      font-size: 16px;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  &__button {
    width: 64px;
    height: 40px;
    background-color: #ffffff14;
    border: 1px solid #303030;
    border-left: none;
    padding: 1px 6px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
  }

  &__icon {
    margin: 0 auto;
  }

  &__mic {
    width: 40px;
    height: 40px;
    margin-left: 12px;
    display: flex;
    background-color: #303030;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #4e4e4e;
    }

    & svg {
      width: 24px;
      height: 24px;
      margin: auto;
      align-self: center;
    }
  }
}
// end of search

// clear
.clear {
  position: absolute;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0;

  &:hover {
    background: rgba($color: #717171, $alpha: 0.3);
  }

  &-container {
    width: 24px;
    height: 24px;
    margin: auto;
  }

  & svg {
    fill: white;
  }
}
// end of clear

// icons
.icons {
  display: flex;
  align-items: center;

  &__create {
    padding: 8px;
    margin-right: 8px;
    border-radius: 50%;

    &:hover {
      background: rgba($color: #717171, $alpha: 0.3);
    }
  }

  &__bell {
    padding: 8px;
    margin-right: 8px;
    border-radius: 50%;

    &:hover {
      background: rgba($color: #717171, $alpha: 0.3);
    }
  }

  &__button {
    background: none;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
  }

  &__avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 8px;
    & img {
      width: 32px;
      height: 32px;
      display: block;
    }
  }
}
// end of icons

// sections
.sections {
  width: 64px;
  padding: 0 4px;
  grid-area: aside;

  &.expand {
    width: 216px;
    padding: 12px;
    top: 56px;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
  }

  // &::after {
  //   content: "";
  //   width: 20px;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   position: fixed;
  // }

  &:hover::-webkit-scrollbar {
    display: block;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff58;
    border-radius: 15px;
  }

  &-container {
    padding: 16px 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #7171714d;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: white;
    margin-bottom: 6px;
  }

  &__text {
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
      background-color: #7171714d;
    }
  }

  &-open {
    position: relative;
    left: -240px;
  }

  &__hr {
    margin: 12px 0;
    border: 0.5px solid #7171714d;
  }

  &__heading {
    font-size: 16px;
    padding: 6px 12px 4px;
  }
}

.expand {
  & .sections__text {
    font-size: 14px;
  }

  & .sections-open {
    left: 0;
  }

  & .sections__icon {
    margin: 0;
    margin-right: 24px;
  }
}

// slider
.slider {
  grid-area: slider;
}
