.main {
  min-height: 100vh;
  margin: 56px 0 0 72px;
  // padding-top: 24px;
}

// video
.video {
  &-container {
    margin-left: 16px;
  }

  &__item {
    width: 33%;
  }

  &__thumbnail {
    position: relative;
    & img {
      height: 181px;
      background-color: gray;
      display: block;
    }
  }

  &__time {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background-color: #000;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
  }

  &__desc {
    margin-top: 12px;
    height: 76px;
    display: flex;
    // justify-content: space-between;
  }

  &__title {
    max-height: 44px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;

    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__channel {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
  }

  &__views {
    color: #aaa;
    font-size: 14px;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    height: 36px;
    & img {
      width: 100%;
      height: 100%;
      display: block;
      background-color: bisque;
    }
  }
}
