.sections {
  width: 64px;
  padding: 0 4px;

  &.expand {
    width: 216px;
    padding: 12px;
    top: 56px;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
  }

  // &::after {
  //   content: "";
  //   width: 20px;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   position: fixed;
  // }

  &:hover::-webkit-scrollbar {
    display: block;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff58;
    border-radius: 15px;
  }

  &-container {
    padding: 16px 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #7171714d;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: white;
    margin-bottom: 6px;
  }

  &__text {
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
      background-color: #7171714d;
    }
  }

  &-open {
    position: relative;
    left: -240px;
  }

  &__hr {
    margin: 12px 0;
    border: 0.5px solid #7171714d;
  }

  &__heading {
    font-size: 16px;
    padding: 6px 12px 4px;
  }
}

.expand {
  & .sections__text {
    font-size: 14px;
  }

  & .sections-open {
    left: 0;
  }

  & .sections__icon {
    margin: 0;
    margin-right: 24px;
  }
}
