@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  background-color: #0f0f0f;
  // max-height: 100vh;
}

@import "header";
@import "main";
