<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/sections.css"/>
    <link rel="stylesheet" href="../css/header.css"/>
    <link
      rel="shortcut icon"
      href="https://www.youtube.com/s/desktop/344b7a23/img/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/1f5d0d2686.js"
      crossorigin="anonymous"
    ></script>
    <script defer type="module" src="../js/app.js"></script>
    <title>YouTube</title>
  </head>
  <body>
    <header class="header" id="header"></header>
	  <aside class="sections"></aside>
    <main class="main">
      <div class="main-container">
        <!-- slider -->
        <!-- <section class="slider">
          <div class="slider-container">fkdslfdsjfkjdsfkldsjfksdl</div>
        </section> -->
        <!-- end of slider -->
        <div class="video">
          <div class="video-container">
            <div class="video__item">
              <div class="video__thumbnail">
                <img src="" alt="" />
                <p class="video__time">44:23</p>
              </div>
              <div class="video__desc">
                <a href="" class="video__icon">
                  <img src="" alt="" />
                </a>
                <div class="video__info">
                  <h2
                    class="video__title"
                    title="DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE"
                  >
                    DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE
                  </h2>
                  <a href="" class="video__channel" title="VIXDOTA">VIXDOTA</a>
                  <p class="video__views">2K views &bullet; 9 hours ago</p>
                </div>
                <div class="video__options"></div>
              </div>
            </div>
            <div class="video__item">
              <div class="video__thumbnail">
                <img src="" alt="" />
                <p class="video__time">44:23</p>
              </div>
              <div class="video__desc">
                <a href="" class="video__icon">
                  <img src="" alt="" />
                </a>
                <div class="video__info">
                  <h2
                    class="video__title"
                    title="DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE"
                  >
                    DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE
                  </h2>
                  <a href="" class="video__channel" title="VIXDOTA">VIXDOTA</a>
                  <p class="video__views">2K views &bullet; 9 hours ago</p>
                </div>
                <div class="video__options"></div>
              </div>
            </div>
            <div class="video__item">
              <div class="video__thumbnail">
                <img src="" alt="" />
                <p class="video__time">44:23</p>
              </div>
              <div class="video__desc">
                <a href="" class="video__icon">
                  <img src="" alt="" />
                </a>
                <div class="video__info">
                  <h2
                    class="video__title"
                    title="DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE"
                  >
                    DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE
                  </h2>
                  <a href="" class="video__channel" title="VIXDOTA">VIXDOTA</a>
                  <p class="video__views">2K views &bullet; 9 hours ago</p>
                </div>
                <div class="video__options"></div>
              </div>
            </div>
            <div class="video__item">
              <div class="video__thumbnail">
                <img src="" alt="" />
                <p class="video__time">44:23</p>
              </div>
              <div class="video__desc">
                <a href="" class="video__icon">
                  <img src="" alt="" />
                </a>
                <div class="video__info">
                  <h2
                    class="video__title"
                    title="DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE"
                  >
                    DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE
                  </h2>
                  <a href="" class="video__channel" title="VIXDOTA">VIXDOTA</a>
                  <p class="video__views">2K views &bullet; 9 hours ago</p>
                </div>
                <div class="video__options"></div>
              </div>
            </div>
            <div class="video__item">
              <div class="video__thumbnail">
                <img src="" alt="" />
                <p class="video__time">44:23</p>
              </div>
              <div class="video__desc">
                <a href="" class="video__icon">
                  <img src="" alt="" />
                </a>
                <div class="video__info">
                  <h2
                    class="video__title"
                    title="DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE"
                  >
                    DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE
                  </h2>
                  <a href="" class="video__channel" title="VIXDOTA">VIXDOTA</a>
                  <p class="video__views">2K views &bullet; 9 hours ago</p>
                </div>
                <div class="video__options"></div>
              </div>
            </div>
            <div class="video__item">
              <div class="video__thumbnail">
                <img src="" alt="" />
                <p class="video__time">44:23</p>
              </div>
              <div class="video__desc">
                <a href="" class="video__icon">
                  <img src="" alt="" />
                </a>
                <div class="video__info">
                  <h2
                    class="video__title"
                    title="DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE"
                  >
                    DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE
                  </h2>
                  <a href="" class="video__channel" title="VIXDOTA">VIXDOTA</a>
                  <p class="video__views">2K views &bullet; 9 hours ago</p>
                </div>
                <div class="video__options"></div>
              </div>
            </div>
            <div class="video__item">
              <div class="video__thumbnail">
                <img src="" alt="" />
                <p class="video__time">44:23</p>
              </div>
              <div class="video__desc">
                <a href="" class="video__icon">
                  <img src="" alt="" />
                </a>
                <div class="video__info">
                  <h2
                    class="video__title"
                    title="DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE"
                  >
                    DOTA PROFILE CONTEST REVIEWING MY VIEWERS PROFILE
                  </h2>
                  <a href="" class="video__channel" title="VIXDOTA">VIXDOTA</a>
                  <p class="video__views">2K views &bullet; 9 hours ago</p>
                </div>
                <div class="video__options"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- trend -->
    <!-- <section class="trend">fjdsklfjdsklfdsjkfldsjklfdjsl</section> -->
    <!-- end of trend -->
  </body>
</html>
