<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css"/>
	<link rel="stylesheet" href="../css/header.css"/>
	<link rel="stylesheet" href="../css/shorts.css"/>
	<link
		rel="shortcut icon"
		href="https://www.youtube.com/s/desktop/344b7a23/img/favicon.ico"
		type="image/x-icon"
	/>
	<script
		src="https://kit.fontawesome.com/1f5d0d2686.js"
		crossorigin="anonymous"
	></script>
	<!-- <script defer type="module" src="../js/header.js"></script> -->
	<script defer type="module" src="../js/app.js"></script>
	<title>YouTube</title>
</head>
<body>
	<header class="header" id="header"></header>
	<aside class="sections"></aside>

	
</body>
</html>